@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
html,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

a, a:active, a:focus {
  outline: none !important;
  text-decoration: none !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  /* line-height: 1; */
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearAll {
  clear: both;
}

.clearAllHf {
  clear: both;
  height: 65px;
}

/* Revamp Colors:
---------------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
}

.container_fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.container {
  width: 1232px;
  margin: 0 auto;
  padding: 0;
}

.dynamicBody {
  background-color: #f5f5f5;
  padding-bottom: 100px;
}

.head .container .header {
  display: flex;
}
.head .container .header-left {
  display: flex;
  margin-right: auto;
}
.head .container .header-left__title {
  font-size: 32px;
  color: #D8232A;
  font-weight: 700;
  margin: 10px 24px 10px 0px;
}
.head .container .header-left__anchor {
  margin: 24px 48px 18px 0px;
  font-size: 14px;
  line-height: 1.43;
  color: #303030;
  font-weight: 600;
  position: relative;
}
.head .container .header-left__anchor::after {
  content: "";
  width: 4px;
  height: 4px;
  border-bottom: 2px solid #D8232A;
  border-left: 2px solid #D8232A;
  position: absolute;
  transform: rotate(-45deg);
  top: 6px;
  right: -12px;
}
.head .container .header-right {
  display: flex;
  position: relative;
}
.head .container .header-right__anchor {
  margin: 24px 38px 18px 0px;
  font-size: 14px;
  line-height: 1.43;
  color: #303030;
  font-weight: 600;
  position: relative;
}
.head .container .header-right__anchor::after {
  content: "";
  width: 4px;
  height: 4px;
  border-bottom: 2px solid #D8232A;
  border-left: 2px solid #D8232A;
  position: absolute;
  transform: rotate(-45deg);
  top: 6px;
  right: -12px;
}
.head .container .header-right__anchor--post {
  margin: 14px 0;
  padding: 10px 58px 10px 14px;
  font-size: 14px;
  font-weight: 600;
  background-color: #FFC72C;
  border-radius: 20px;
  position: relative;
}
.head .container .header-right__anchor--post::after {
  content: "Free";
  position: absolute;
  padding: 2px 5px;
  border-radius: 12px;
  font-size: 14px;
  background-color: #fff;
  margin-left: 8px;
  top: 8px;
}
.head .container .header-right__anchor--hamburger {
  width: 32px;
  height: 32px;
  margin-top: 16px;
  padding: 10px 8px;
  border-radius: 50%;
  background-color: #606060;
  position: absolute;
  right: -40px;
}
.head .container .header-right__anchor--hamburger__line {
  width: 16px;
  height: 2px;
  border-radius: 1.5px;
  border-bottom: 2px solid #fff;
  padding: 1px;
}

.searchBar {
  width: 100%;
  background-color: #D8232A;
}
.searchBar .container .filtersBar {
  display: flex;
}
.searchBar .container .filtersBar--searchbar {
  margin: 12px 0px 12px 0px;
  border: none;
  outline: none;
  width: 320px;
  height: 40px;
  border-radius: 20px;
  font-size: 12px;
  color: #303030;
  line-height: 1.33;
  font-weight: 600;
  padding: 14px 16px 14px 46px;
}
.searchBar .container .filtersBar--filter {
  margin: 12px 0 12px 4px;
  padding: 12px 32px 12px 16px;
  border-radius: 20px;
  background-color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  color: #303030;
  position: relative;
}
.searchBar .container .filtersBar--filter::after {
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  border-bottom: 2px solid #D8232A;
  border-left: 2px solid #D8232A;
  top: 16px;
  right: 18px;
  transform: rotate(-45deg);
}

.links .container .linksPath {
  padding-top: 6px;
}
.links .container .linksPath__anchor {
  text-decoration: none;
  color: #606060;
  font-size: 10px;
  margin-right: 22px;
  position: relative;
}
.links .container .linksPath__anchor::after {
  content: "";
  width: 3px;
  height: 3px;
  border-bottom: 1.5px solid #606060;
  border-left: 1.5px solid #606060;
  position: absolute;
  transform: rotate(-135deg);
  top: 4px;
  right: -10px;
}
.links .container .linksPath__anchor:last-child::after {
  display: none;
}

.tabs .container {
  display: flex;
  border-bottom: 1px solid #d7d7d7;
}
.tabs .container .LegendTabs {
  display: flex;
  margin-right: auto;
  margin-top: 40px;
}
.tabs .container .LegendTabs__item {
  padding: 14px 24px;
  margin-right: 8px;
  border: 1px solid #d7d7d7;
  border-radius: 8px 8px 0 0;
  background-color: #fff;
  border-bottom: none;
  font-size: 16px;
  color: #303030;
  line-height: 1.25;
}
.tabs .container .LegendTabs__item.active {
  border-bottom: 4px solid #D8232A;
}
.tabs .container .sortingTab {
  margin-top: 50px;
  border: 1px solid #d7d7d7;
  border-radius: 20px;
  background-color: #fff;
  padding: 0px 32px;
  position: relative;
  margin-bottom: 12px;
}
.tabs .container .sortingTab--top_arrow::after {
  content: "";
  width: 4px;
  height: 4px;
  border-bottom: 1.5px solid #606060;
  border-left: 1.5px solid #606060;
  position: absolute;
  top: 12px;
  left: 14px;
  transform: rotate(135deg);
}
.tabs .container .sortingTab--top_arrow::before {
  content: "";
  width: 1px;
  height: 8px;
  border-right: 1.5px solid #606060;
  position: absolute;
  top: 12px;
  left: 15px;
}
.tabs .container .sortingTab--down_arrow::after {
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  border-bottom: 1.5px solid #606060;
  border-left: 1.5px solid #606060;
  transform: rotate(-45deg);
  left: 20px;
  bottom: 10px;
}
.tabs .container .sortingTab--down_arrow::before {
  content: "";
  width: 1px;
  height: 8px;
  border-right: 1.5px solid #606060;
  position: absolute;
  bottom: 10px;
  left: 21px;
}
.tabs .container .sortingTab__name {
  font-size: 14px;
  line-height: 1.14;
  padding: 6px 0 10px 0;
  color: #303030;
  position: relative;
}
.tabs .container .sortingTab__name::after {
  content: "";
  width: 5px;
  height: 5px;
  border-bottom: 2px solid #303030;
  border-left: 2px solid #303030;
  position: absolute;
  transform: rotate(-45deg);
  right: -12px;
  top: 10px;
}

.location {
  font-size: 24px;
  line-height: 1.33;
  color: #303030;
  margin-top: 24px;
}

.reviews .container .reviewsListing {
  margin-top: 24px;
  display: flex;
}
.reviews .container .reviewsListing__item {
  width: 296px;
  display: flex;
  border: 1px solid #ffccd1;
  border-radius: 8px;
  background-color: #fffafb;
  margin-right: 16px;
}
.reviews .container .reviewsListing__item:last-child {
  margin-right: 0;
}
.reviews .container .reviewsListing__item__image {
  width: 50px;
  height: 50px;
  margin: 14px 0px 14px 12px;
}
.reviews .container .reviewsListing__item__image--edit {
  width: 50px;
  height: 50px;
  border: 1px solid #ffccd1;
  background-color: #ffccd1;
  border-radius: 50%;
  padding: 9px;
  margin: 14px 0px 14px 12px;
}
.reviews .container .reviewsListing__item__disciption {
  padding: 19px 27px 19px 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
}

.properties .container .propertyListing {
  margin-top: 16px;
}
.properties .container .propertyListing__card {
  display: flex;
  position: relative;
  box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.2);
  margin-bottom: 16px;
}
.properties .container .propertyListing__card__image {
  width: 420px;
  height: 100%;
  position: absolute;
}
.properties .container .propertyListing__card__image__pic {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.properties .container .propertyListing__card__image__count {
  position: absolute;
  top: 12px;
  left: 16px;
  padding: 0 4px 0 18px;
  color: #fff;
  background-color: #303030;
  border-radius: 3.8px;
  font-size: 12px;
  line-height: 1.67;
}
.properties .container .propertyListing__card__image__date {
  position: absolute;
  top: 12px;
  right: 64px;
  border: 1px solid #b2dfd8;
  background-color: #fff;
  padding: 2px 4px;
  color: #009681;
  font-size: 10px;
  font-weight: 600;
  line-height: 1.2;
  border-radius: 4px;
}
.properties .container .propertyListing__card__info {
  position: relative;
  background-color: #fff;
  left: 369px;
  display: flex;
  border-radius: 16px;
  border: 1px solid #d7d7d7;
}
.properties .container .propertyListing__card__info__discription {
  margin-right: auto;
  padding: 16px;
}
.properties .container .propertyListing__card__info__discription__title {
  display: flex;
}
.properties .container .propertyListing__card__info__discription__title--bold {
  font-size: 18px;
  line-height: 1.33;
  color: #303030;
  font-weight: 600;
  margin-left: 16px;
}
.properties .container .propertyListing__card__info__discription__title--lite {
  font-size: 14px;
  line-height: 1.43;
  color: #303030;
  margin-left: 8px;
  margin-top: 4px;
}
.properties .container .propertyListing__card__info__discription__reviews {
  width: 571px;
  padding: 6px 0 8px 16px;
  border-radius: 8px;
  background-color: #f5f5f5;
  margin-top: 14px;
  position: relative;
  display: flex;
}
.properties .container .propertyListing__card__info__discription__reviews__title {
  padding: 14px 0;
  margin-right: 30px;
}
.properties .container .propertyListing__card__info__discription__reviews__title--bold {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  color: #303030;
}
.properties .container .propertyListing__card__info__discription__reviews__title--lite {
  margin-top: 6px;
  font-size: 14px;
  color: #303030;
  line-height: 1.43;
}
.properties .container .propertyListing__card__info__discription__reviews__swiper {
  position: relative;
}
.properties .container .propertyListing__card__info__discription__reviews__swiper__listing {
  display: flex;
}
.properties .container .propertyListing__card__info__discription__reviews__swiper__listing__item__pic {
  width: 92px;
  height: 48px;
  border-radius: 4px;
}
.properties .container .propertyListing__card__info__discription__reviews__swiper__listing__item__name {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: #303030;
  margin-top: 6px;
}
.properties .container .propertyListing__card__info__discription__payTerms {
  display: flex;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 16px;
}
.properties .container .propertyListing__card__info__discription__payTerms__title {
  padding-left: 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  color: #303030;
  margin-top: 32px;
  margin-right: 44px;
}
.properties .container .propertyListing__card__info__discription__payTerms__details {
  display: flex;
  margin-top: 12px;
}
.properties .container .propertyListing__card__info__discription__payTerms__details--primary {
  padding: 10px 6px 10px 16px;
  border-radius: 16px;
  border: 1px solid #e8e8e8;
  margin-right: 8px;
  font-size: 14px;
  color: #303030;
  line-height: 1.43;
  width: 289px;
}
.properties .container .propertyListing__card__info__discription__payTerms__details--secndry {
  border: 1px solid #e8e8e8;
  border-radius: 16px;
  padding: 20px 15px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: #303030;
  line-height: 1.43;
  -webkit-text-decoration: underline 1px solid #303030;
          text-decoration: underline 1px solid #303030;
}
.properties .container .propertyListing__card__info__discription__highlights {
  display: flex;
  padding-bottom: 12px;
}
.properties .container .propertyListing__card__info__discription__highlights__title {
  padding-left: 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  color: #303030;
  margin-top: 26px;
  margin-right: 118px;
}
.properties .container .propertyListing__card__info__discription__highlights__listing__item {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.43;
  color: #303030;
  position: relative;
}
.properties .container .propertyListing__card__info__discription__highlights__listing__item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #009681;
  background-color: #e0f2f0;
  left: -24px;
  top: 2px;
}
.properties .container .propertyListing__card__info__discription__highlights__listing__item::after {
  content: "";
  width: 6px;
  height: 4px;
  border-bottom: 1px solid #009681;
  border-left: 1px solid #009681;
  position: absolute;
  transform: rotate(-45deg);
  left: -19px;
  top: 8px;
}
.properties .container .propertyListing__card__info__discription__offer {
  margin-top: 16px;
  font-size: 10px;
  color: #303030;
  padding: 2px 0;
  padding-left: 4px;
  border-radius: 8px;
  background-color: #fff7e1;
  position: relative;
}
.properties .container .propertyListing__card__info__discription__offer::before {
  content: "OFFER";
  padding: 0 5px;
  background-color: #ffc72c;
  border-radius: 4px;
  font-size: 10px;
  line-height: 1.6;
  color: #303030;
  font-weight: 600;
  margin-right: 10px;
}
.properties .container .propertyListing__card__info__discription__keyDetails {
  padding-right: 16px;
  padding-top: 12px;
  display: flex;
  border-top: 1px solid #e8e8e8;
}
.properties .container .propertyListing__card__info__discription__keyDetails__title {
  margin-right: 84px;
  display: flex;
  align-items: center;
  font-weight: 600;
  padding-left: 16px;
  font-size: 14px;
  color: #303030;
}
.properties .container .propertyListing__card__info__discription__keyDetails__list {
  border-radius: 8px;
  border: 1px solid #e8e8e8;
  padding: 8px 16px;
  display: flex;
}
.properties .container .propertyListing__card__info__discription__keyDetails__list__item {
  position: relative;
  margin-right: 30px;
}
.properties .container .propertyListing__card__info__discription__keyDetails__list__item--title {
  font-size: 12px;
  line-height: 1.33;
  color: #606060;
}
.properties .container .propertyListing__card__info__discription__keyDetails__list__item__info {
  font-size: 14px;
  line-height: 1.29;
  color: #303030;
}
.properties .container .propertyListing__card__info__discription__keyDetails__list__item::after {
  content: "";
  width: 1px;
  height: 50px;
  border-left: 1px solid #e8e8e8;
  position: absolute;
  top: 0;
  right: -10px;
}
.properties .container .propertyListing__card__info__discription__keyDetails__list__item:last-child::after {
  display: none;
}
.properties .container .propertyListing__card__info__discription__keyDetails__list:last-child {
  padding-right: 0;
}
.properties .container .propertyListing__card__info__prices {
  background-color: #f5f5f5;
  text-align: center;
  padding-top: 40px;
}
.properties .container .propertyListing__card__info__prices__type {
  font-size: 14px;
  line-height: 1.43;
  padding: 0 68px;
  color: #303030;
}
.properties .container .propertyListing__card__info__prices__price {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  color: #303030;
  margin-top: 8px;
}
.properties .container .propertyListing__card__info__prices__price span {
  font-size: 12px;
  line-height: 1.33;
  color: #606060;
  font-weight: 400;
  margin-top: 4px;
}
.properties .container .propertyListing__card__info__prices__btn--contact {
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  background-color: #D8232A;
  border-radius: 16px;
  padding: 6px 16px;
  margin: 30px 58px 0 58px;
}
.properties .container .propertyListing__card__info__prices__btn--view {
  cursor: pointer;
  color: #D8232A;
  font-size: 14px;
  font-weight: 600;
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid #D8232A;
  padding: 6px 16px;
  margin: 18px 58px 0 58px;
}
.properties .container .propertyListing__card__info__prices__compare {
  font-size: 14px;
  line-height: 1.43;
  color: #606060;
  margin-top: 40px;
  -webkit-text-decoration: underline 1px solid #606060;
          text-decoration: underline 1px solid #606060;
  cursor: pointer;
}

.Fetured .container .headind {
  margin-top: 84px;
  font-size: 24px;
  font-weight: 600;
  color: #303030;
  line-height: 1.33;
  position: relative;
}
.Fetured .container .headind::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 1px;
  border-radius: 2px;
  border-bottom: 4px solid #D8232A;
  padding-bottom: 4px;
  bottom: 0;
}
.Fetured .container .featuredReviews {
  margin-top: 24px;
}
.Fetured .container .featuredReviews__listing__item {
  width: 296px;
  border-radius: 8px;
  background-color: #fff;
  padding-bottom: 14px;
}
.Fetured .container .featuredReviews__listing__item__image {
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 216px;
}
.Fetured .container .featuredReviews__listing__item__name {
  font-size: 14px;
  line-height: 1.43;
  color: #303030;
  font-weight: 600;
  margin-top: 12px;
  margin-left: 16px;
}
.Fetured .container .featuredReviews__listing__item__location {
  font-size: 14px;
  line-height: 1.43;
  margin-left: 16px;
  color: #606060;
}

.NewProjects .container .heading {
  margin-top: 84px;
  font-size: 24px;
  font-weight: 600;
  color: #303030;
  line-height: 1.33;
  position: relative;
}
.NewProjects .container .heading::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 1px;
  border-radius: 2px;
  border-bottom: 4px solid #D8232A;
  padding-bottom: 4px;
  bottom: 0;
}
.NewProjects .container .newProjets {
  margin-top: 32px;
}
.NewProjects .container .newProjets__listing {
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 24px;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.NewProjects .container .newProjets__listing__card {
  display: flex;
  border-radius: 8px;
  border: 1px solid #d7d7d7;
  background-color: #fff;
  position: relative;
}
.NewProjects .container .newProjets__listing__card__image {
  width: 180px;
  height: 100%;
  position: relative;
}
.NewProjects .container .newProjets__listing__card__image__pic {
  width: 100%;
  height: 100%;
  border-radius: 8px 0 0 8px;
}
.NewProjects .container .newProjets__listing__card__image__count {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0 5px 0 18px;
  font-size: 12px;
  line-height: 1.6;
  color: #fff;
  background-color: #303030;
  border-radius: 4px;
}
.NewProjects .container .newProjets__listing__card__info {
  padding: 12px 16px;
}
.NewProjects .container .newProjets__listing__card__info__name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  color: #303030;
}
.NewProjects .container .newProjets__listing__card__info__owner {
  font-size: 14px;
  line-height: 1.43;
  color: #606060;
}
.NewProjects .container .newProjets__listing__card__info__location {
  margin-top: 12px;
  font-size: 14px;
  color: #303030;
  line-height: 1.43;
}
.NewProjects .container .newProjets__listing__card__info__date {
  margin-top: 4px;
  line-height: 1.43;
  font-size: 14px;
  color: #303030;
}
.NewProjects .container .newProjets__listing__card__info__type {
  line-height: 1.43;
  margin-top: 12px;
  font-size: 14px;
}
.NewProjects .container .newProjets__listing__card__info__price {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  margin-top: 4px;
}
.NewProjects .container .newProjets__listing__card__info__price span {
  margin-top: 4px;
  color: #606060;
  line-height: 1.33;
  font-size: 12px;
}
.NewProjects .container .newProjets__listing__card__moreDetails {
  position: absolute;
  right: 24px;
  bottom: 16px;
}
.NewProjects .container .newProjets__listing__card__moreDetails__btn {
  border: none;
  border-radius: 16px;
  background-color: #D8232A;
  color: #fff;
  padding: 6px 24px;
  cursor: pointer;
}

.Questions .container .questions {
  margin-top: 56px;
  border: 1px solid #d7d7d7;
  background-color: #fff;
  border-radius: 8px;
  padding: 28px 26px 26px 32px;
}
.Questions .container .questions .heading {
  font-size: 24px;
  line-height: 1.33;
  color: #303030;
  margin-bottom: 16px;
}
.Questions .container .questions__listing__item {
  margin-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e8e8e8;
}
.Questions .container .questions__listing__item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.Questions .container .questions__listing__item__qsn {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  color: #303030;
}
.Questions .container .questions__listing__item__ans {
  margin-top: 8px;
  font-size: 14px;
  color: #606060;
  line-height: 1.43;
  padding-right: 20px;
}
.Questions .container .questions__listing__item__ans .ansTitle {
  font-weight: 600;
}
.Questions .container .questions__listing__item__ans span {
  border-bottom: 1px solid #606060;
}
.Questions .container .questions__listing__item .long {
  padding-right: 220px;
}

.swiperMain {
  width: 73%;
  position: relative;
}
.swiperMain .swiper-button-next {
  position: absolute;
  right: -14px;
  top: 34px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0.5px solid #d7d7d7;
}
.swiperMain .swiper-button-prev {
  position: absolute;
  left: -10px;
  top: 34px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}
.swiperMain .swiper-button-next::after {
  position: absolute;
  right: 8px;
  color: #303030;
  font-size: 12px;
}
.swiperMain .swiper-button-prev::after {
  position: absolute;
  left: 8px;
  color: #303030;
  font-size: 12px;
}

.swiperMain2 {
  position: relative;
}
.swiperMain2 .swiper-button-next {
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  right: -20px;
}
.swiperMain2 .swiper-button-next::after {
  position: absolute;
  font-size: medium;
  color: #303030;
  font-weight: 600;
  right: 12px;
}
.swiperMain2 .swiper-button-next::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 1px;
  border-bottom: 2px solid #303030;
  right: 12px;
  top: 22px;
}
.swiperMain2 .swiper-button-prev {
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  left: -20px;
}
.swiperMain2 .swiper-button-prev::after {
  position: absolute;
  font-size: medium;
  color: #303030;
  font-weight: 600;
  left: 14px;
}
.swiperMain2 .swiper-button-prev::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 1px;
  border-bottom: 2px solid #303030;
  left: 14px;
  top: 22px;
}

.property-alert {
  display: none;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 27px 0 240px;
}
.property-alert__title {
  font-size: 24px;
  line-height: 32px;
  color: #303030;
  margin-bottom: 24px;
}
.property-alert__filterLabel {
  font-size: 14px;
  line-height: 20px;
  color: #303030;
  margin-bottom: 16px;
}
.property-alert__filterSec {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 25px;
}
.property-alert__filterBtn {
  max-width: 160px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  padding: 12px 29px 12px 16px;
  border-radius: 20px;
  border: solid 1px #b2dfd8;
  background-color: #e0f2f0;
  font-size: 12px;
  line-height: 16px;
  color: #303030;
  font-weight: 600;
  cursor: pointer;
}
.property-alert__filterBtn::before, .property-alert__filterBtn::after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  border-bottom: 1px solid #303030;
  top: 50%;
  translate: 0 -50%;
  right: 13px;
}
.property-alert__filterBtn::before {
  rotate: 45deg;
}
.property-alert__filterBtn::after {
  rotate: -45deg;
}
.property-alert__or {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  color: #303030;
  font-weight: 500;
  margin-bottom: 24px;
}
.property-alert__or::before, .property-alert__or::after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  border-bottom: 1px solid #d7d7d7;
  top: 50%;
  right: -8px;
  translate: 100%;
}
.property-alert__or::after {
  left: -8px;
  translate: -100%;
}
.property-alert__resetBtn {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
  padding: 10px 37px;
  border-radius: 20px;
  background-color: #d8232a;
  border: none;
  margin-bottom: 64px;
  cursor: pointer;
}
.property-alert__form {
  display: flex;
  flex-direction: column;
  border: solid 1px #d7d7d7;
  border-radius: 8px;
  background-color: #fff;
  padding: 40px;
}
.property-alert__form__title {
  font-size: 18px;
  line-height: 24px;
  color: #303030;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
}
.property-alert__form__sub-title {
  font-size: 14px;
  line-height: 20px;
  color: #303030;
  margin-bottom: 32px;
  text-align: center;
}
.property-alert__form__inputGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 24px;
       column-gap: 24px;
  margin-bottom: 44px;
}
.property-alert__form__inputField {
  display: flex;
  gap: 9px;
  position: relative;
  margin-bottom: 44px;
}
.property-alert__form__inputField__label {
  position: absolute;
  font-size: 14px;
  line-height: 20px;
  color: #606060;
  left: 0;
  bottom: 7px;
  transition: 0.3s all;
  cursor: pointer;
}
.property-alert__form__inputField__input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 7px;
  font-size: 14px;
  line-height: 20px;
  color: #303030;
  font-weight: 500;
}
.property-alert__form__inputField__input:focus + label {
  font-size: 12px;
  line-height: 16px;
  bottom: 31px;
  cursor: text;
}
.property-alert__form__inputField__phnum {
  position: absolute;
  left: 99px;
  font-size: 14px;
  line-height: 20px;
  color: #606060;
  bottom: 7px;
  transition: 0.3s all;
  cursor: pointer;
}
.property-alert__form__inputField--second {
  margin-bottom: 27px;
}
.property-alert__form__isdCodeSec {
  position: relative;
}
.property-alert__form__isdCodeSec::after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-bottom: 2px solid #606060;
  border-right: 2px solid #606060;
  rotate: 45deg;
  right: 0;
  bottom: 13px;
  translate: -50% -50%;
}
.property-alert__form__isdCode-dropdown {
  width: 90px;
  border: none;
  outline: none;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 7px;
  font-size: 14px;
  line-height: 20px;
  color: #606060;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.property-alert__form__budgetSec {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.property-alert__form__budgetLabel {
  font-size: 12px;
  line-height: 16px;
  color: #303030;
}
.property-alert__form__budgetDropdownSec {
  position: relative;
}
.property-alert__form__budgetDropdownSec::after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-bottom: 2px solid #303030;
  border-right: 2px solid #303030;
  rotate: 45deg;
  right: 12px;
  bottom: 12px;
  translate: -50% -50%;
}
.property-alert__form__budget-dropdown {
  width: 100%;
  border: 1px solid #d7d7d7;
  border-radius: 8px;
  outline: none;
  padding: 6px 12px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 14px;
  line-height: 20px;
  color: #303030;
  cursor: pointer;
}
.property-alert__form__footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.property-alert__form__footer__tnc {
  font-size: 12px;
  line-height: 16px;
  color: #303030;
}
.property-alert__form__footer__tnc__link {
  color: #303030;
  border-bottom: 1px solid #303030;
}
.property-alert__form__footer__alertBtn {
  padding: 10px 70px;
  background-color: #d8232a;
  border: none;
  border-radius: 22px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}
.property-alert.show {
  display: flex;
}

.verify-num {
  display: none;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 27px 0 240px;
}
.verify-num__title {
  font-size: 24px;
  line-height: 32px;
  color: #303030;
  margin-bottom: 24px;
}
.verify-num__filterLabel {
  font-size: 14px;
  line-height: 20px;
  color: #303030;
  margin-bottom: 16px;
}
.verify-num__filterSec {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 25px;
}
.verify-num__filterBtn {
  max-width: 160px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  padding: 12px 29px 12px 16px;
  border-radius: 20px;
  border: solid 1px #b2dfd8;
  background-color: #e0f2f0;
  font-size: 12px;
  line-height: 16px;
  color: #303030;
  font-weight: 600;
  cursor: pointer;
}
.verify-num__filterBtn::before, .verify-num__filterBtn::after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  border-bottom: 1px solid #303030;
  top: 50%;
  translate: 0 -50%;
  right: 13px;
}
.verify-num__filterBtn::before {
  rotate: 45deg;
}
.verify-num__filterBtn::after {
  rotate: -45deg;
}
.verify-num__or {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  color: #303030;
  font-weight: 500;
  margin-bottom: 24px;
}
.verify-num__or::before, .verify-num__or::after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  border-bottom: 1px solid #d7d7d7;
  top: 50%;
  right: -8px;
  translate: 100%;
}
.verify-num__or::after {
  left: -8px;
  translate: -100%;
}
.verify-num__resetBtn {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
  padding: 10px 37px;
  border-radius: 20px;
  background-color: #d8232a;
  border: none;
  margin-bottom: 64px;
  cursor: pointer;
}
.verify-num__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #d7d7d7;
  border-radius: 8px;
  background-color: #fff;
  padding: 40px 86px;
}
.verify-num__main__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: #303030;
  margin-bottom: 16px;
}
.verify-num__main__txt {
  font-size: 14px;
  line-height: 20px;
  color: #303030;
  margin-bottom: 10px;
}
.verify-num__main__txt--red {
  color: #d8232a;
  text-decoration: none;
}
.verify-num__main__otpSec {
  display: flex;
  justify-content: center;
  padding-top: 58px;
  gap: 16px;
  margin-bottom: 32px;
}
.verify-num__main__otpSec__input {
  width: 32px;
  border: none;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 6px;
  outline: none;
  text-align: center;
}
.verify-num__main__verifyBtn {
  border: none;
  border-radius: 22px;
  background-color: #d8232a;
  padding: 12px 152px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 24px;
  cursor: pointer;
}
.verify-num__main__tryAgain {
  font-size: 14px;
  line-height: 16px;
  color: #303030;
  margin-bottom: 12px;
}
.verify-num__main__tryAgain--red {
  color: #d8232a;
  font-weight: 600;
}
.verify-num__main__whatsappBtn {
  display: flex;
  align-items: center;
  gap: 9px;
  border: 1px solid #909090;
  padding: 12px 77px;
  background-color: #fff;
  border-radius: 22px;
  color: #303030;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 16px;
  cursor: pointer;
}
.verify-num__main__whatsappBtn__img {
  width: 24px;
  height: 24px;
  background-image: url(../Images/icon-24-whatsapp.webp);
  background-size: cover;
}
.verify-num__main__whatsappBtn.disable {
  pointer-events: none;
  background-color: #e8e8e8;
  border-color: #e8e8e8;
  opacity: 0.5;
}
.verify-num__main__resendTxt {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  color: #303030;
  font-weight: 600;
}
.verify-num__main__resendTxt::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #303030;
}
.verify-num.show {
  display: flex;
}

.thank-you {
  display: none;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 27px 0 240px;
}
.thank-you__title {
  font-size: 24px;
  line-height: 32px;
  color: #303030;
  margin-bottom: 24px;
}
.thank-you__filterLabel {
  font-size: 14px;
  line-height: 20px;
  color: #303030;
  margin-bottom: 16px;
}
.thank-you__filterSec {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 25px;
}
.thank-you__filterBtn {
  max-width: 160px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  padding: 12px 29px 12px 16px;
  border-radius: 20px;
  border: solid 1px #b2dfd8;
  background-color: #e0f2f0;
  font-size: 12px;
  line-height: 16px;
  color: #303030;
  font-weight: 600;
  cursor: pointer;
}
.thank-you__filterBtn::before, .thank-you__filterBtn::after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  border-bottom: 1px solid #303030;
  top: 50%;
  translate: 0 -50%;
  right: 13px;
}
.thank-you__filterBtn::before {
  rotate: 45deg;
}
.thank-you__filterBtn::after {
  rotate: -45deg;
}
.thank-you__or {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  color: #303030;
  font-weight: 500;
  margin-bottom: 24px;
}
.thank-you__or::before, .thank-you__or::after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  border-bottom: 1px solid #d7d7d7;
  top: 50%;
  right: -8px;
  translate: 100%;
}
.thank-you__or::after {
  left: -8px;
  translate: -100%;
}
.thank-you__resetBtn {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
  padding: 10px 37px;
  border-radius: 20px;
  background-color: #d8232a;
  border: none;
  margin-bottom: 64px;
  cursor: pointer;
}
.thank-you__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #d7d7d7;
  border-radius: 8px;
  background-color: #fff;
  padding: 138px 75px;
}
.thank-you__main__tick-icon {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #009681;
  background-color: #e0f2f0;
  margin-bottom: 16px;
}
.thank-you__main__tick-icon::before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 18px;
  border-bottom: 2px solid #009681;
  border-right: 2px solid #009681;
  rotate: 45deg;
  top: 50%;
  left: 50%;
  translate: calc(-50% + 1px) calc(-50% - 3px);
}
.thank-you__main__title {
  font-size: 24px;
  line-height: 32px;
  color: #303030;
  margin-bottom: 16px;
}
.thank-you__main__sub-title {
  font-size: 14px;
  line-height: 20px;
  color: #303030;
  margin-bottom: 16px;
}
.thank-you__main__filterSec {
  display: flex;
  gap: 9px;
}
.thank-you__main__filterSec__filter {
  position: relative;
  border: 1px solid #d7d7d7;
  border-radius: 20px;
  padding: 4px 14px 4px 20px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #303030;
}
.thank-you__main__filterSec__filter::before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 7px;
  border-bottom: 1px solid #009681;
  border-right: 1px solid #009681;
  rotate: 45deg;
  left: 9px;
  bottom: 9px;
}
.thank-you.show {
  display: flex;
}/*# sourceMappingURL=landingPage.css.map */